.clickable {
  background: #3d4551;
}

.clickable:hover {
  cursor: pointer;
  background: #4fb9a7;
  color: #1c1d22;
  /*border: 1px solid #4fb9a7;*/
}

.text {
  word-wrap: break-word;
  max-width: 950px;
  /*display: inline-block;*/
}

.text a, .text div, .text li, .text ul, .text p, .text span, .text pre, .text font .text {
  white-space: pre-wrap;
}
