@import url("https://fonts.googleapis.com/css?family=Varela+Round");

body,
html {
    background: #1c1d22;
    color: #777;
    height: 100%;
    width: 100%;
    font-family: "Varela Round", sans-serif;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.clickable {
    background: #3d4551;
}

.clickable:hover {
    cursor: pointer;
    background: #4fb9a7;
    color: #1c1d22;
    /*border: 1px solid #4fb9a7;*/
}

.noselect__wrapper *, .noselect__wrapper {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

.main__wrapper {
    width: 90%;
    margin: 0 auto;
    min-height: 100%;
    z-index: 1;
    padding: 0 30px;
}