.tasks_search__wrapper{
  display: flex;
}

.dropdown {
  display: inline-block;
  font-size: 16px;
  width: 260px;
  /*background: #d94f5c;*/
}
.dropdown li {
  list-style-type: none;
  background-color: #333333;
  color: #4FB9A7;
  cursor: pointer;
}

.container:hover,
.checkbox__header label:hover{
  background-color: #231a1a;
}

/* Customize the label (the container) */

.container {
  position: relative;
  cursor: pointer;
  padding: 10px 10px 10px 40px;
  font-size: 17px;
  display: block;
}

/* Hide the browser's default checkbox */

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.container .checkmark:after {
  left: 15px;
  top: 12px;
  width: 5px;
  height: 10px;
  border: solid #d94f5c;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox__header{
  text-align: left;
}
.checkbox__header label{
  padding: 10px 100px 10px 10px;
  display: block;
}
.checkbox__header input{
  display: none;
}
.checkbox__header li {
  list-style-type: none;
  padding: 15px;
  background-color: #333333;
  color: #4FB9A7;
  margin-bottom: 1px;
  cursor: pointer;
}

.sear__button{
  width: 140px;
  margin: 10px 40px;
  list-style-type: none;
  padding: 10px 105px 10px 105px;
  color: #4FB9A7;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.sear__button input{
  display: none;
}
