.table__wrapper table {
  color: #aaa;
  text-align: center;
  border-spacing: 0 7px;
  background: #333333;
  border: 16px solid #333333;
  border-radius: 20px;
  margin: 0 auto;
}

.table__wrapper th {
  font-size: 15px;
  padding: 2px 11px;
  border-radius: 5px;
}

.table__wrapper tr {
  padding: 5px 5px;
}

.table__wrapper td {
  padding: 2px 11px;
  font-size: 15px;
  /*background: #314236;*/
}

.table__wrapper td:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.table__wrapper td:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.table__wrapper h1 {
  text-align: center;
}


